In [1]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [3]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [4]:
n_cols = predictors_norm.shape[1] # number of predictors

In [5]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [6]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [7]:
from keras.models import Sequential
from keras.layers import Dense

In [8]:
def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [9]:
model = regression_model()

In [10]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.30, random_state = 42)
model.fit(X_train, y_train, epochs = 50, verbose = 0)

In [11]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 258us/step

559.8687141690053

In [12]:
from sklearn.metrics import mean_squared_error

In [13]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean_square_error

559.8687195043169

In [14]:
from sklearn.metrics import mean_squared_error

mean_square_errors = []
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state = i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    print('MSE ', i+1, ":", model.evaluate(X_test, y_test, verbose = 0))
    
    y_pred = model.predict(X_test)
    
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_square_errors.append(mean_square_error)
    
mean = np.mean(mean_square_errors)
standard_deviation = np.std(mean_square_errors)

print("Total Mean of All 50 Mean Square Errors: ", mean)
print("Standard Deviation of the 50 Mean Square errors: ", standard_deviation)

MSE  1 : 174.34389093392875
MSE  2 : 143.3412962978326
MSE  3 : 92.29122680367776
MSE  4 : 74.69988277892078
MSE  5 : 58.856092841879835
MSE  6 : 56.34244110206184
MSE  7 : 56.55051982595697
MSE  8 : 39.346717476459
MSE  9 : 42.52670122658937
MSE  10 : 43.85730777975039
MSE  11 : 40.293340960752616
MSE  12 : 38.40270346731044
MSE  13 : 46.17657891677807
MSE  14 : 42.454980634177
MSE  15 : 38.813676457574836
MSE  16 : 31.423292203242724
MSE  17 : 34.36153588403004
MSE  18 : 34.410467913235664
MSE  19 : 34.84943329400615
MSE  20 : 36.6485415893851
MSE  21 : 30.998307595361013
MSE  22 : 32.415979737216986
MSE  23 : 31.06689524727732
MSE  24 : 33.43517299763207
MSE  25 : 34.522658030192055
MSE  26 : 37.581454082600125
MSE  27 : 31.12208302815755
MSE  28 : 32.173029908856144
MSE  29 : 35.76920729701959
MSE  30 : 36.41310804792978
MSE  31 : 32.98064570751005
MSE  32 : 28.90888697429768
MSE  33 : 30.85635556217922
MSE  34 : 30.746284114504324
MSE  35 : 34.35125623783247
MSE  36 : 39.40182882142298
MSE  37 : 26.75917020507615
MSE  38 : 35.454626262380856
MSE  39 : 32.45764645326485
MSE  40 : 27.46429339658867
MSE  41 : 33.412584594924084
MSE  42 : 29.312372794043284
MSE  43 : 32.10709302093605
MSE  44 : 34.912001662269766
MSE  45 : 34.79904011846746
MSE  46 : 32.47068656995459
MSE  47 : 32.75380758637363
MSE  48 : 32.179075000355546
MSE  49 : 33.23454413059074
MSE  50 : 35.001415474900924
Total Mean of All 50 Mean Square Errors:  42.901042588713814
Standard Deviation of the 50 Mean Square errors:  26.51493421611464

Q: How does the mean of the mean squared errors compare to that from Step A?
A: As shown above, the mean of the mean squared errors was significantly lower than from Step A.  This would mean that the regression_normalized model would be the better neural network to use to predict y.