In [1]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [5]:
n_cols = predictors.shape[1] # number of predictors

In [6]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [7]:
from keras.models import Sequential
from keras.layers import Dense

In [8]:
def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [9]:
#build the model
model = regression_model()

In [10]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.30, random_state = 42)
model.fit(X_train, y_train, epochs = 100, verbose = 0)

In [11]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 319us/step

149.35806704030455

In [12]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)

In [13]:
mean_square_errors = []
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state = i)
    model.fit(X_train, y_train, epochs=100, verbose=0)
    print('MSE ', i+1, ":", model.evaluate(X_test, y_test, verbose = 0))
    
    y_pred = model.predict(X_test)
    
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_square_errors.append(mean_square_error)
    
mean = np.mean(mean_square_errors)
standard_deviation = np.std(mean_square_errors)

print("Total Mean of All 50 Mean Square Errors: ", mean)
print("Standard Deviation of the 50 Mean Square errors: ", standard_deviation)

MSE  1 : 98.04342387177797
MSE  2 : 96.03623019221531
MSE  3 : 68.59708904525608
MSE  4 : 67.40043316689895
MSE  5 : 61.206778010889934
MSE  6 : 57.755742069972754
MSE  7 : 61.81084563122598
MSE  8 : 45.44777252296028
MSE  9 : 49.86769017586816
MSE  10 : 49.25545254803013
MSE  11 : 43.83613890120127
MSE  12 : 41.93910918498116
MSE  13 : 51.24520483912002
MSE  14 : 50.08045769355058
MSE  15 : 44.593431083901415
MSE  16 : 39.30010214746963
MSE  17 : 44.23459359820221
MSE  18 : 42.381602327414704
MSE  19 : 39.850743056115206
MSE  20 : 42.59121668300197
MSE  21 : 40.43445557529486
MSE  22 : 41.26936862538162
MSE  23 : 38.566443964887206
MSE  24 : 39.82005137224414
MSE  25 : 44.14638934706407
MSE  26 : 42.92571377059788
MSE  27 : 41.22340553555288
MSE  28 : 38.220619744853295
MSE  29 : 46.698459069705706
MSE  30 : 46.23131488442035
MSE  31 : 45.09429057593484
MSE  32 : 40.28862721711687
MSE  33 : 41.601644497473266
MSE  34 : 44.54428237618752
MSE  35 : 40.87634924237396
MSE  36 : 47.67077599682854
MSE  37 : 43.06298839853034
MSE  38 : 47.24719344450818
MSE  39 : 44.743565482229094
MSE  40 : 39.195902525028366
MSE  41 : 47.356729032152295
MSE  42 : 38.27354522507553
MSE  43 : 42.30622710687829
MSE  44 : 47.748055640162
MSE  45 : 48.704876822561125
MSE  46 : 45.89114442843835
MSE  47 : 44.75879118589136
MSE  48 : 44.57952441366745
MSE  49 : 44.39823608645344
MSE  50 : 47.828757350884594
Total Mean of All 50 Mean Square Errors:  48.02363545266858
Standard Deviation of the 50 Mean Square errors:  12.06626178903116

Q:How does the mean of the mean squared errors compare to that from Step B?
<br>
A:The mean of the mean squared errors increased but the standard deviation decreased. This means the data is more congregated at the mean for Step C.