In [1]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [5]:
n_cols = predictors.shape[1] # number of predictors

In [6]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [7]:
def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [8]:
model = regression_model()

In [9]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.30, random_state = 42)
model.fit(X_train, y_train, epochs = 50, verbose = 0)

In [10]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 379us/step

133.39863077799478

In [11]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean_square_error

133.39863402552095

In [12]:
from sklearn.metrics import mean_squared_error

mean_square_errors = []
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30, random_state = i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    print('MSE ', i+1, ":", model.evaluate(X_test, y_test, verbose = 0))
    
    y_pred = model.predict(X_test)
    
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_square_errors.append(mean_square_error)
    
mean = np.mean(mean_square_errors)
standard_deviation = np.std(mean_square_errors)

print("Total Mean of All 50 Mean Square Errors: ", mean)
print("Standard Deviation of the 50 Mean Square errors: ", standard_deviation)

MSE  1 : 89.62628075065736
MSE  2 : 85.57854676478118
MSE  3 : 69.34681368337094
MSE  4 : 76.47520345545895
MSE  5 : 71.33870264936033
MSE  6 : 57.01778394581817
MSE  7 : 48.53354832423929
MSE  8 : 37.01842753092448
MSE  9 : 37.11046507752057
MSE  10 : 33.847240991191185
MSE  11 : 32.671521584964495
MSE  12 : 29.42285525991693
MSE  13 : 39.39484820628243
MSE  14 : 39.364890595470044
MSE  15 : 29.83478922674185
MSE  16 : 27.79545364873695
MSE  17 : 31.36512995846449
MSE  18 : 30.210861514687153
MSE  19 : 30.95086914976052
MSE  20 : 30.099538364842484
MSE  21 : 29.456106537754096
MSE  22 : 29.33236647423803
MSE  23 : 27.63562337017368
MSE  24 : 28.343348802486283
MSE  25 : 28.19847306310166
MSE  26 : 29.799932350232762
MSE  27 : 25.891617512625785
MSE  28 : 25.69315386898695
MSE  29 : 31.478610572691487
MSE  30 : 27.16268993735699
MSE  31 : 22.481824899568526
MSE  32 : 24.776451900938955
MSE  33 : 22.58976936340332
MSE  34 : 24.29268686362455
MSE  35 : 26.148665542355634
MSE  36 : 31.186507067634064
MSE  37 : 22.256323863773286
MSE  38 : 24.965553913301633
MSE  39 : 25.70639587451725
MSE  40 : 21.644675825791836
MSE  41 : 24.8123524613365
MSE  42 : 21.042007427771114
MSE  43 : 24.873493311860415
MSE  44 : 27.687111234201968
MSE  45 : 25.94701753387945
MSE  46 : 26.630609012344507
MSE  47 : 24.374467695415213
MSE  48 : 26.96715780832235
MSE  49 : 23.78653861481009
MSE  50 : 23.887835635336472
Total Mean of All 50 Mean Square Errors:  34.121062403251905
Standard Deviation of the 50 Mean Square errors:  16.305719136096222

Q:How does the mean of the mean squared errors compare to that from Step B?
<br>
A:The mean of the mean squared errors were lower when compared to Step B.