In [1]:
import pandas as pd
import numpy as np

concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [3]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
n_cols = predictors.shape[1] # number of predictors

In [5]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [6]:
from keras.models import Sequential
from keras.layers import Dense

In [7]:
def regression_model():
    #create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [8]:
#build the model
model = regression_model()

In [9]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.30, random_state = 42)
model.fit(X_train, y_train, epochs = 50, verbose = 0)

In [10]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 208us/step

139.2709831064959

Mean_square_error

In [11]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean_square_error

139.27098534315576

In [12]:
from sklearn.metrics import mean_squared_error

mean_square_errors = []
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state = i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    print('MSE ', i+1, ":", model.evaluate(X_test, y_test, verbose = 0))
    
    y_pred = model.predict(X_test)
    
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_square_errors.append(mean_square_error)
    
mean = np.mean(mean_square_errors)
standard_deviation = np.std(mean_square_errors)

print("Total Mean of All 50 Mean Square Errors: ", mean)
print("Standard Deviation of the 50 Mean Square errors: ", standard_deviation)

MSE  1 : 97.13164232618215
MSE  2 : 122.57170588916173
MSE  3 : 117.0714461934605
MSE  4 : 122.18199513259444
MSE  5 : 120.88872083645423
MSE  6 : 108.5448506673177
MSE  7 : 139.41506829616708
MSE  8 : 100.28780525479117
MSE  9 : 124.53159473011794
MSE  10 : 111.38497519878894
MSE  11 : 80.238725581987
MSE  12 : 68.74443761584828
MSE  13 : 80.8979888101226
MSE  14 : 82.26824704265903
MSE  15 : 70.97869159488616
MSE  16 : 57.852842954370196
MSE  17 : 67.79732585030466
MSE  18 : 66.66388541903696
MSE  19 : 61.52310511518065
MSE  20 : 71.33151558687771
MSE  21 : 62.09678010415877
MSE  22 : 66.37389663893813
MSE  23 : 57.30977334328068
MSE  24 : 64.56358058398595
MSE  25 : 73.68041705776572
MSE  26 : 70.68235759056115
MSE  27 : 61.626609505958925
MSE  28 : 65.08416604841412
MSE  29 : 68.28417049025255
MSE  30 : 66.36961970900255
MSE  31 : 70.00009414524708
MSE  32 : 65.837474366222
MSE  33 : 60.953513259640786
MSE  34 : 68.10883509071128
MSE  35 : 61.076799608742924
MSE  36 : 74.69413721522852
MSE  37 : 67.08182068858717
MSE  38 : 67.86326270736151
MSE  39 : 62.6203981911866
MSE  40 : 60.293999162692465
MSE  41 : 73.64354470015344
MSE  42 : 64.37284888110115
MSE  43 : 66.8710744913342
MSE  44 : 70.9430994077022
MSE  45 : 71.26604325871638
MSE  46 : 67.92100975505743
MSE  47 : 73.0567468192585
MSE  48 : 74.50761974050775
MSE  49 : 74.2033937571504
MSE  50 : 68.14791647901812
Total Mean of All 50 Mean Square Errors:  77.83683097736726
Standard Deviation of the 50 Mean Square errors:  20.663134868319084